@{
    Layout = null;
}
@model string

@if (Model.Contains("DOCTYPE"))
{
    @Html.Raw(Model)
}
else
{
    <!DOCTYPE html>
    <html lang="tr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Gateway Confirm - Redirecting...</title>
    </head>
    <body>
        <h3 style="width:100%;display:inline-block;margin:0 auto; text-align:center">Lütfen bekleyin...</h3>
        @Html.Raw(Model)
    </body>
</html>
}
